:root { 
--gray_800_06:#4a4a4a; 
--gray_800_05:#3d3d3d; 
--red_800:#ce1a1a; 
--gray_800_04:#3e3e3e; 
--gray_800_03:#414141; 
--gray_800_02:#4e4e4e; 
--gray_800_01:#4d4d4d; 
--yellow_A400:#ffe504; 
--blue_gray_900_02:#353535; 
--deep_orange_A700:#ff1010; 
--light_blue_A700:#0093ff; 
--purple_A400:#ff04c7; 
--blue_gray_900_01:#2d2d2d; 
--blue_gray_700:#515151; 
--blue_gray_900:#2e2e2e; 
--deep_purple_A200:#9747ff; 
--red_A700:#ff0707; 
--gray_400:#b0b0b0; 
--blue_gray_100:#d9d9d9; 
--blue_gray_300:#809cb4; 
--red_A200:#ff6161; 
--gray_800:#464646; 
--gray_500_c9:#a5a5a5c9; 
--gray_400_01:#b4b4b4; 
--gray_400_02:#b5b5b5; 
--red_A700_03:#ff0d0d; 
--cyan_800:#00868c; 
--red_A700_02:#f10606; 
--red_A700_01:#ff0000; 
--cyan_600:#00adb5; 
--white_A700:#ffffff; 
--red_500_00:#ff3c3c00; 
--red_500_01:#ff2929; 
--gray_700_01:#646464; 
--cyan_A200:#00fff5; 
--red_900:#8d0000; 
--red_500:#ff3838; 
--green_800:#20744a; 
--green_A200:#4dffb4; 
--black_900:#000000; 
--gray_500_01:#a0a0a0; 
--red_A400:#ff2121; 
--gray_500_03:#adadad; 
--gray_500_02:#9f9f9f; 
--deep_orange_400:#ff6d4d; 
--gray_900_02:#292929; 
--gray_700:#606060; 
--gray_900_03:#141414; 
--gray_900_04:#191919; 
--gray_500:#a5a5a5; 
--gray_900_05:#202020; 
--red_A700_19:#f7000019; 
--blue_gray_400:#8e8e8e; 
--orange_A700:#ff6b00; 
--gray_900:#1f1f1f; 
--gray_900_01:#111111; 
--red_A700_16:#ff000016; 
--blue_gray_900_03:#412a2a; 
--teal_A400:#00ffa3; 
--gray_100:#f3f3f3; 
}